### Java ###
*.class

### Build ###
smart-consumer-workspace/smart-consumer/build/
smart-consumer-workspace/smart-consumer/target/

### Eclipse / IDE ###
.metadata/
.settings/
.project
.classpath
.factorypath
bin/

### Servers & Local Config ###
smart-consumer-workspace/Servers/

### OS ###
.DS_Store
Thumbs.db
